/**************
CLASS SELECTORS
**************/

.headshot {
  width: 30%;
  height: auto;
  align-content: center;
  display: inline-block;
  border-radius: 100%;
}

.icecream {
  width: 22%;
  display: inline-flex;
  border: 2px solid grey;
  margin: 5px 1px;
  display: inline-block;
}

.pint {
  display: inline-block;
  width: 100%;
  height: auto;
}
/****************
ELEMENT SELECTORS
****************/

h1  {
  margin: 10px;
  text-align: center;
  border: 2px solid grey;
  display: inline-block;
}

h2  {
  font-weight: inherit;
  text-indent: 5px;
}

nav li{
  text-decoration: none;
  text-align: right;
  list-style-type: none;
  list-style: none;
  margin-right: 2%;
}

input {
  color: yellow;
  border-style: none;
  background-color: grey;
  min-width: 100%;
}

p {
  text-indent: 10px;
  margin: .75em;
}

h3 {
  text-indent: 5px;
}

h5 {
  font-weight: inherit;
  font-size: .75em;
}








