/**************
CLASS SELECTORS
**************/

.geraldorivera {
  max-width: 30%;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
}

.icecream {
  width: 30%;
}


h1  {
  margin: auto;
  text-align: center;
}

nav {
  text-decoration: none;
}